
    <body >
        <div><div class="row">
     <div class="top">  
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            	<div class="flipper">
                    
		<div class="front">
			<!-- front content -->
            <p style="padding-right: 40px;padding-top: 100px;text-align: center;">Achievements<br>(2nd year students)</p>
            
        </div>
		<div class="back">
			<!-- back content -->
             <img style="height: 400px;width: 500px;"   src="../../assets/sec-yr.JPG">+
		</div>
	</div>
</div> 
         </div>
        <!---side wise--->
        <div class="top1">  
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            	<div class="flipper">
                    
		<div class="front">
			<!-- front content -->
            <p style="padding-right: 40px;padding-top: 100px;text-align: center;">Achievements<br>(3rd year students)</p>
            
        </div>
		<div class="back">
			<!-- back content -->
            <img style="height: 400px;width: 500px;"   src="../../assets/third-yr.JPG">
		</div>
	</div>
</div> 
        </div>
        
        
        </div> 
            
            <!---next row---->
            <div class="row">
     <div class="top">  
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            	<div class="flipper">
                    
		<div class="front">
			<!-- front content -->
            <p style="padding-right: 40px;padding-top: 100px;text-align: center;">Achievements<br>(4th year students)</p>
            
        </div>
		<div class="back">
			<!-- back content -->
             <img style="height: 400px;width: 500px;"   src="../../assets/fin-yr.JPG">+
		</div>
	</div>
</div> 
         </div>
        <!---side wise--->
        <div class="top1">  
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            	<div class="flipper">
                    
		<div class="front">
			<!-- front content -->
            <p style="padding-right: 40px;padding-top: 100px;text-align: center;">Department Toppers</p>
            
        </div>
		<div class="back">
			<!-- back content -->
            <img style="height: 400px;width: 500px;"   src="../../assets/topp.JPG">
		</div>
	</div>
</div> 
        </div>
        
        
        </div> 
            
        
        </div>  
        </body>