<div class='t'>
    <h1>St.JOSEPH'S INSTITUTE OF TECHNOLOGY</h1>
    <h3>Department of information technology</h3>
    <div class="a">
    <div class="btn-group ">
      <button class="e"> <a routerLink='/home' style="text-decoration: none;">Home</a></button>
        <button class="e"> <a routerLink='/tstaff' style="text-decoration: none;"> Staffs</a></button>
     <button class="e"> <a routerLink='/student' style="text-decoration: none;"> Student</a></button>
      <button class="e"><a routerLink='/ach' style="text-decoration: none;">Acheivements</a></button>
      <button class="e"><a routerLink='/event' style="text-decoration: none;">Events</a></button>
      <button class="e"> <a routerLink='/sch' style="text-decoration: none;">Schedule</a></button>
      <button class="e"><a routerLink='/gallery' style="text-decoration: none;">Gallery</a></button>
      <button class="e"><a routerLink='/course' style="text-decoration: none;">Courses</a></button>
      <button class="e"><a routerLink='/about' style="text-decoration: none;">AboutUs</a></button>
    </div></div>
  
  
  </div>
  
  