<div class="first">
    <h1 style="text-align: center;"><strong>ST.JOSEPH'S INSTITUTE OF TECHNOLOGY</strong></h1><br>
    <h4 style="text-align: center;">Old Mammalapuram road,Semmencheri,Chennai,Tamil Nadu-600119</h4>
    <h2>ABOUT US</h2>
    <p>Information Technology is the root which binds all the branches of science. Our Department inculcates the students with all the latest technology tools and professional qualities. Information Technology helps to give the people a customized software for their hardware to function. The world is evolving technologically and Information Technology is the discipline that lies at the intersection of all scientific and social developments. We carry out research in advanced computing to aid in discovery and innovation that enable friutful contribution in IT and other disciplines.</p>
    <br>
    <br>
    <h2>Department Clubs</h2>
    <ul>
    <li>Google Students Club</li>
        <li>Coding Club</li>
        <li>GNU/Linux Users Club</li>
        <li>InnoviTY Club</li>
        <li>CSI Club</li>
        <li>Cognizant Students Club</li>
    </ul>
    <h2>Contact Us at this Location!</h2>
    
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.5877918962533!2d80.21624091408226!3d12.869879390922655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525bbb618d3ea9%3A0x90b3767be093efaa!2sSt.Joseph&#39;s%20Institute%20of%20Technology!5e0!3m2!1sen!2sin!4v1568204177848!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div> 
    
  