<div class="gall">
  <section class="carousel">
    <div class="carousel__container">
      <div class="carousel-item">
        <img class="carousel-item__img" src="../../assets/g1.jpg" alt="People">
        <div class="carousel-item__details">          
          <p class="carousel-item__details--title"> Christmas Celebration</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="carousel-item__img" src="../../assets/g2.jpg" alt="People">
        <div class="carousel-item__details">          
          <p class="carousel-item__details--title">Easter</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="carousel-item__img" src="../../assets/g3.jpg" alt="People">
        <div class="carousel-item__details">          
          <p class="carousel-item__details--title">Vinayagar Chaturthi</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="carousel-item__img" src="../../assets/g4.jpg" alt="People">
        <div class="carousel-item__details">          
          <p class="carousel-item__details--title">Campus</p>
         
        </div>
      </div>
      <div class="carousel-item">
        <img class="carousel-item__img" src="../../assets/g5.jpg" alt="People">
        <div class="carousel-item__details">          
          <p class="carousel-item__details--title">Magazine Release </p>
         
        </div>
      </div>
      <div class="carousel-item">
        <img class="carousel-item__img" src="../../assets/g6.jpg" alt="People">
        <div class="carousel-item__details">          
          <p class="carousel-item__details--title">Teacher's Day</p>
         
        </div>
      </div>
      <div class="carousel-item">
        <img class="carousel-item__img" src="../../assets/staffpic.jpg" alt="People">
        <div class="carousel-item__details">          
          <p class="carousel-item__details--title">Department Staffs</p>
         
        </div>
      </div>
      <div class="carousel-item">
        <img class="carousel-item__img" src="../../assets/symposium.jpg" alt="People">
        <div class="carousel-item__details">          
          <p class="carousel-item__details--title">Symposium</p>
         
        </div>
      </div>

      <div class="carousel-item">
        <img class="carousel-item__img" src="../../assets/g13.jpg" alt="People">
        <div class="carousel-item__details">          
          <p class="carousel-item__details--title">Prize Distribution</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="carousel-item__img" src="../../assets/g15.jpg" alt="People">
        <div class="carousel-item__details">          
          <p class="carousel-item__details--title">Industrial Visit</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="carousel-item__img" src="../../assets/niot.jpg" alt="People">
        <div class="carousel-item__details">          
          <p class="carousel-item__details--title">NIOT Visit</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="carousel-item__img" src="../../assets/brog.jpg" alt="People" >
        <div class="carousel-item__details">          
          <p class="carousel-item__details--title">Code Club Inaguration</p>
        </div>
      </div>
    </div> </section>
    <div class="video">
    <h1>VIDEO GALLERY</h1>
    <video width="320" height="240" controls>
        <source src="../../assets/gv1.mp4" type="video/mp4">
      </video>
      <video width="320" height="240" controls>
        <source src="../../assets/gv2.mp4" type="video/mp4">
      </video>
      <video width="320" height="240" controls>
        <source src="../../assets/gv3.mp4" type="video/mp4">
      </video>
      <video width="320" height="240" controls>
        <source src="../../assets/gv4.mp4" type="video/mp4">
      </video>
      <video width="320" height="240" controls>
        <source src="../../assets/gv5.mp4" type="video/mp4">
      </video>
      </div>
      </div>
 
 