

<div class="s"> 

<div class="a"></div>
<div class="b">
    <h3 >The best platforms to enquip yourself</h3>
    <ul>
      <li><a href="https://www.w3schools.com/" style="color: black; font-weight: bold">Learn HTML,JAVASCRIPT,REACT,AJAX,ANGULARJS</a></li>
      <li><a routerLink="https://www.tutorialspoint.com/" style="color: black; font-weight: bold" >Learn HTML5,CSS3,3D animations,REACTJS</a></li>
      <li><a href="https://www.codecademy.com/catalog/subject/all" style="color: black; font-weight: bold">Learn BOOTSTRAP</a></li>
      <li><a href="https://www.geeksforgeeks.org/sql-tutorial/" style="color: black; font-weight: bold">Queries Enquiry</a></li>
      <li><a href="https://stackoverflow.com/" style="color: black; font-weight: bold">Learn,Share,and get immediate solutions </a></li>
      <li><a href="https://www.udemy.com/" style="color: black; font-weight: bold">The best platform to do online courses</a></li>
      <li><a href="https://nptel.ac.in/" style="color: black; font-weight: bold">Do Certified Courses</a></li>
      <li><a href="https://www.kaggle.com/" style="color: black; font-weight: bold">Learn Data Science</a></li>
      <li><a href="https://www.djangoproject.com/start/"style="color: black; font-weight: bold">Learn django</a></li>
      <li><a href="https://www.hackerrank.com/"style="color:red; font-weight: bold">develop yourself in coding</a></li>
    </ul>
    </div>
    </div>
  


