<div class="card">
    <img src="../../assets/r.jpg" alt="Avatar" style="width:50%; height:400px; border-radius: 50%;" class="center">
    <div class="container">
      <h4><b>NAME:Rubavathi.M</b></h4>
      <pre>
             Roll No        :17IT1205 <br><br>
            Register No    :312417205042<br><br>
            Branch         :Informatiom Technology<br><br>
            Course-Duration:2017-2021<br><br>
            Date.Of.Birth  :28/08/1999<br><br>
            Father's Name  :Manoharan.S<br><br>
            Mother's Name  :Umamaheswari.V<br><br>
            Address        :1/222D Anna nagar(south),<br>
                            Kalasapakkam & T.K.,<br>
                            Tiruvanamalai district.<br>
            PIN            :606751<br><br>
            Mobile Number  :9442670435<br><br>
            Transport      :NA<br><br>
                            Girls Hostel
      </pre>
      <button class="accordion" onclick="myFunction()">Attendance</button>
<div class="panel" id="progressbar">
    <div style="text-align: center;">99%</div>
    <p style="color:floralwhite;">Leave taken so far:NL (15.06.2019)</p>
</div>



<button class="accordion" onclick="myFun1()">Semester Progress</button>
<div class="panel" id="myDIV1">
   <div id="chartContainer" style="height: 200px; width: 100%;">
      
<ul class="chart">
  <li >
    <span style="height:81%; text-align:center; padding-top:10px; background-color: #f7f711" title="Excedllent">8.12</span><br>
  SEM1</li>
  <li>
    <span style="height:78.4%; text-align:center; padding-top:10px; background-color: rgb(130, 217, 243)" title="Very Good">7.84</span><br>
 SEM2 </li>
  <li>
    <span style="height:74%;text-align:center; padding-top:10px;background-color: rgb(248, 131, 189)" title="Good">7.4</span><br>
  SEM3</li>
  <li>
    <span style="height:79.7%; text-align:center; padding-top:10px; background-color:rgb(247, 138, 111)" title="Very Good">7.97</span><br>
  SEM4</li>
</ul>    

      </div>
</div>
 
 
      </div>
      </div>
