.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
    margin: 100px 400px 100px 300px;
  }
  .center{
    display: block;
    margin-left:auto;
    margin-right: auto;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  pre{
    background-color: #1F1A36;
    color:white;
    padding-left: 5px;
    padding-top: 5px;
    font-family:"Tempus Sans ITC"
  }
  
  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }
  #progressbar {
    background-color: black;
    border-radius: 13px;
    /* (height of inner div) / 2 + padding */
    padding: 3px;
  }
  
  #progressbar>div {
    background-color: orange;
    width: 99%;
    /* Adjust with JavaScript */
    height: 20px;
    border-radius: 10px;
  }
  
  #myDIV1 {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    margin-top: 20px;
    background-color: rgb(97, 102, 98);
  }
  #myDIV2 {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
  }

  



.chart{
  display:table;
  width:70%;
  height:100px;
  margin:auto;
}
  li{
    position:relative;
    display:table-cell;
    vertical-align:bottom;
    height:200px;
    color:aquamarine;
  }
  span{
    margin:0 5px;
    display: block;
    background:white;
    box-shadow: 0 0 50px antiquewhite;
    color:"yellow";
     }
     
    ul li{
     animation:grow 1.6s ease-in-out infinite;
    }
  
     @keyframes grow
     {
       100% , 100% , 100%
       {
         transform:scale(0.8);
       }
       95%{
          transform:scale(1);
   
       }
     }
   
   ul li:nth-child(1){
     animation-delay:-1.4s;
    
   }
   ul li:nth-child(2){
     animation-delay:-1.2s;
     
      }
   ul li:nth-child(3){
     animation-delay:-1s;
     
      }
   ul li:nth-child(4){
     animation-delay:-0.8s;
         }
   
     
   
    