<div class="c">
    <link href="https://fonts.googleapis.com/css?family=Buenard" rel="stylesheet" />
  <div class="a" style="padding-top: 10px ;">
  <div style="float: left; position: relative;" >
    <h3>CLUB ACTIVITIES:</h3>
    <div style="width:350px;height:300px;border:3px solid blue; padding-top: 20px; margin-top: 10px;">
  <marquee behavior="scroll" scrollamount="4" onmouseover="this.stop();" onmouseout="this.start();" direction="up" style="height:200px;">
        
           <li>glug meets</li> 
            <li>cts club</li> 
            <li>google club</li> 
            <li>web designing</li> 
            <li>technical talk show</li>
            <li>debugging</li>
          </marquee>
        </div>
        </div>
    </div><div>
    <div class="btn">
    <p><button class="btn btn-lg btn-primary">JULY 18</button></p>
      <p>  <button class="btn btn-lg btn-primary">JULY 28</button></p>
        <p>  <button class="btn btn-lg btn-primary">JUNE END</button></p>
    </div></div>
    <div style="margin-right: 30px;position: relative;left: 170px;top: -230px;">
      <p>Hackathon</p></div>
      <div style="margin-right: 30px;position: relative;left: 170px;top: -190px;">
      <p>Debugging</p></div>
      <div style="margin-right: 30px;position: relative;left: 600px;top: -155px;">
      <p>AMCAT exam</p></div>
    
  <div class="b" style="margin-top: 0px;">
  <div style="float: right;position: relative; bottom: 420px;">
    <h3> UPCOMING WORKSHOPS:</h3>
  <div style="width:350px;height:300px;border:3px solid blue;" class="image">
  
     
          <li>2nd year-Jango framework</li>
           <li>3rd year-Machine learning</li>
           <li>4th year-UI path</li>
        
        </div>
        </div>
        </div>
    <div ><br><br>
      <div class="d" style="position: relative;bottom:400px">
      <marquee behavior="alternate" scrollamount="8">
        <p>IEE Chapter-workshop on RPA automation tools</p>
      </marquee>
    </div> </div>
    
  </div>