<div class="a">

  <div class="row">
    <div class="column">
      <div class="card">
        <div class="zoomout">
          <img src="../../assets/hod.JPG" style="width:100%">
        </div>
        <div class="container">
          <h2>Dr.S.Kalarani</h2>
          <p class="title">Professor & Head Of the Department</p>
          <p>Qualification:M.E.,PhD</p>
          <p>Contact me:+91 9841121991 </p>
           <p><a href="mailto: itsmevani1910@gmail.com"><button class="button">Mail me</button></a></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../assets/pri.JPG" style="width:100%">
        <div class="container">
          <h2>Dr.R.Priscilla</h2>
          <p class="title">Professsor  & Lab HOD</p>
          <p>Qualification:M.E.,PhD</p>
          <p>Contact me:+91 9994409479</p>
          <p><a href="mailto:rubavathimano28@gmail.com"><button class="button">Mail me</button></a></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="../../assets/sk.JPG" style="width:100%">
        <div class="container">
          <h2>Dr.C.SaravanaKumar</h2>
          <p class="title">Assosiate Professor</p>
          <p>Qualification:M.E.,PhD</p>
          <p>Contact me:+91 9965409658</p>
          <p><a href="mailto:rubavathimano28@gmail.com"><button class="button">Mail me</button></a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../../assets/me.JPG" style="width:100%">
        <div class="container">
          <h2>Dr.A.Menaka Pushpa</h2>
          <p class="title">Assosiate Professor</p>
          <p>Qualification:M.E.,PhD</p>
          <p>Contact me:+91 9994133025 </p>
          <p><a href="mailto:rubavathimano28@gmail.com"><button class="button">Mail me</button></a></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../assets/nikk.JPG" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Dr.S.Nikkath Bushra</h2>
          <p class="title">Associate Professsor</p>
          <p>Qualification:M.E.,PhD</p>
          <p>Contact me:+91 8939938999</p>
          <p><a href="mailto:rubavathimano28@gmail.com"><button class="button">Mail me</button></a></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="../../assets/IMG-20190715-WA0002.jpg" style="width:100%">
        <div class="container">
          <h2>Mr.L.Javid Ali</h2>
          <p class="title">Assistant Professor</p>
          <p>Qualification:B.E.,M.E.</p>
          <p>Contact me:+91 9884011604</p>
          <p><a href="mailto:rubavathimano28@gmail.com"><button class="button">Mail me</button></a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="column">
          <div class="card">
            <img src="../../assets/IMG-20190715-WA0003.jpg" style="width:100%">
            <div class="container">
              <h2>Mr.Govindaraj</h2>
              <p class="title">Assistant Professor</p>
              <p>Qualification:B.E., M.E., (Ph.D)</p>
              <p>Contact me:+91 9566277146</p>
               <p><a href="mailto:rubavathimano28@gmail.com"><button class="button">Mail me</button></a></p>
            </div>
          </div>
        </div>

        <div class="column">
            <div class="card">
              <img src="../../assets/IMG-20190715-WA0002.jpg" style="width:100%">
              <div class="container">
                <h2>Mrs.C.Niroshini Infantia</h2>
                <p class="title">Assistant Professor</p>
                <p>Qualification:B.E.,M.E.</p>
                <p>Contact me:+91 9176120424</p>
                <p><a href="mailto:rubavathimano28@gmail.com"><button class="button">Mail me</button></a></p>
              </div>
            </div>
          </div>

     <div class="column">
      <div class="card">
        <img src="../../assets/ne.JPG" style="width:100%">
        <div class="container">
          <h2>Mrs.V.Neelambary</h2>
          <p class="title">Assistant Professor</p>
          <p>Qualification:M.Sc(CT),M.E.</p>
          <p>Contact me:+91 9600142314</p>
           <p><a href="mailto:rubavathimano28@gmail.com"><button class="button">Mail me</button></a></p>
        </div>
      </div>
    </div>
  </div>

    <div class="row"> 
    <div class="column">
      <div class="card">
        <img src="../../assets/sub.JPG" style="width:100%">
        <div class="container">
          <h2>Mrs.G.Subhashini</h2>
          <p class="title"> Assisstant Professsor</p>
          <p>Qualification:B.E.,M.E.</p>
          <p>Contact me:+91 9941912630 </p>
          <p><a href="mailto:rubavathimano28@gmail.com"><button class="button">Mail me</button></a></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="../../assets/karthi.JPG" style="width:100%">
        <div class="container">
          <h2>Mr.M.Karthi</h2>
          <p class="title">Assisstant Professor</p>
          <p>Qualification:B.Tech,M.Tech.,</p>
          <p>Contact me:+91 9791651096</p>
          <p><a href="mailto:rubavathimano28@gmail.com"><button class="button">Mail me</button></a></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="../../assets/sibi.JPG" style="width:100%">
        <div class="container">
          <h2>Ms.S.Anslam Sibi</h2>
          <p class="title">AssisstantProfessor</p>
          <p>Qualification:B.Tech.,M.E.</p>
          <p>Contact me:+91 8825891446 </p>
          <p><a href="mailto:rubavathimano28@gmail.com"><button class="button">Mail me</button></a></p>
        </div>
      </div>
    </div>
  </div>
   
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../../assets/vp.JPG" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Mr.M.Vijaya Prabhu	</h2>
          <p class="title">Assistant Professsor</p>
          <p>Qualification:B.Tech.,M.Tech.</p>
          <p>Contact me:+91 8344040544</p>
          <p><a href="mailto:rubavathimano28@gmail.com"><button class="button">Mail me</button></a></p>
        </div>
        </div>
    </div>

      
    
    <div class="column">
      <div class="card">
        <img src="../../assets/sh.JPG" style="width:100%">
        <div class="container">
          <h2> Ms. C. Shanmughapriya</h2>
          <p class="title">Assistant Professor</p>
          <p>Qualification:B.E.,M.E.</p>
          <p>Contact me:+91 7299036568</p>
          <p><a href="mailto:rubavathimano28@gmail.com"><button class="button">Mail me</button></a></p>
        </div>
      </div>
    </div>
  </div>
  </div>



  