<div class="dash">
<div class="row">

    <div class="column">
      
      <img class="mySlides w3-animate-fading" src="https://rubavathimanoharan.github.io/portal/assets/believe.jpg" style="width:100% ; height:500px; border-radius:50%;">

    </div>

    <div class="column">
      <marquee> <img class="mySlides w3-animate-fading" src="https://github.com/rubavathimanoharan/portal/blob/master/src/assets/IT.jpg" style="width:100% ; height:500px; border-radius:50%;"></marquee>
    </div>
    <div class="column">
      <img class="mySlides w3-animate-fading" src="../../assets/innovate.jpg" style="width:100%; height:500px; border-radius:50%;">
    </div>
    <div class="column">
      <marquee><img class="mySlides w3-animate-fading" src="../../assets/learn1.jpg" style="width:100% ; height:500px; border-radius:50%;"></marquee>
    </div>
  </div>
</div>

