
<div class="w3-center" style="text-align:centre;">
  <div class="w3-section" style="text-align: center;"><br>
    
  
  <button class="w3-button demo" onclick="currentDiv(1)">1</button> 
  <button class="w3-button demo" onclick="currentDiv(2)">2</button> 
  <button class="w3-button demo" onclick="currentDiv(3)">3</button> 
</div>
</div>
<div class="w3-content" style="max-width:100%;">
  <img class="mySlides" src="../../assets/ach.jpg" style="width:100%">
  <img class="mySlides" src="../../assets/time.jpg" style="width:100%">
  <img class="mySlides" src="../../assets/xam.jpg" style="width:100%">
</div>
